$_lg_navlist: 13px;
$_box-shadow_light: 0 0 0 1px rgba(64, 87, 109, 0.07),
   0 2px 12px rgba(53, 71, 90, 0.2);
$_white: #eeeeee;
$_lightBlue: #2bced6;
$_lighestBlue: #2bcdd62d;
$_darkBlue: #00adb5;
$_lightBlack: #394359;
$_lightestBlack: #393e469d;
$_black: #222831;
$_hoverGray: #95adbe3b;
$_gradiets1: linear-gradient(45.34deg, #5b507a 5.66%, #9eadc8 94.35%);
$_gradiets2: linear-gradient(45deg, #86fde8, #acb6e5);

html,
body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   min-height: 100vh;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.muiBtn {
   box-shadow: none !important;
}

// .hover-img {
//    border-radius: 5px;
//    position: relative;
//    transition: all 1s ease;
//    max-height: 150px;
//    width: 100%;
//    .hover {
//       position: absolute;
//       background: red;
//       z-index: 1212;
//    }
//    img {
//       max-height: 150px;
//       width: 100%;
// background-repeat: no-repeat;
// background-attachment: fixed;
//       background-position: center;
//    }
// }

.hover-img {
   border-radius: 5px;
   background-color: #000;
   display: inline-block;
   max-height: 200px;
   overflow: hidden;
   position: relative;
   text-align: center;
   width: 100%;
   .figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      z-index: 2;
      transition-delay: 0.1s;
   }
   img {
      vertical-align: top;
      max-width: 100%;
      backface-visibility: hidden;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
   }
   &::before,
   &::after {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      transition: all 0.4s ease-in-out;
      z-index: 1;
      opacity: 0;
      transform: translate(-150%, -150%) rotate(1deg);
   }
}
.hover-img * {
   box-sizing: border-box;
   transition: all 0.45s ease;
}

.hover-img .hover-img:hover:before,
.hover-img:hover:after {
   transform: scale(1);
   opacity: 1;
}

.hover-img:hover > img {
   opacity: 1;
}

.hover-img:hover .figcaption {
   opacity: 0.12;
}

// Main Layout
@import "../Components/NavBar/LergeNavbar/lgNav";

// Auth styling
@import "../pages/auth/auth";

// SidebarNav styling
@import "../Components/SidebarNav/sidebarNav";
