$_lg_navlist: 13px;
$_box-shadow_light: 0 0 0 1px rgba(64, 87, 109, 0.07),
   0 2px 12px rgba(53, 71, 90, 0.2);
$_white: #eeeeee;
$_lightBlue: #2bced6;
$_lighestBlue: #2bcdd62d;
$_darkBlue: #00adb5;
$_lightBlack: #394359;
$_lightestBlack: #393e469d;
$_black: #222831;
$_hoverGray: #95adbe3b;
$_gradiets1: linear-gradient(45.34deg, #5b507a 5.66%, #9eadc8 94.35%);
$_gradiets2: linear-gradient(45deg, #86fde8, #acb6e5);

html,
body {
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   min-height: 100vh;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.muiBtn {
   box-shadow: none !important;
}

// Main Layout
@import "../Components/NavBar/LergeNavbar/lgNav";

// Auth styling
@import "../pages/auth/auth";

// SidebarNav styling
@import "../Components/SidebarNav/sidebarNav";
